#col_mid {
  background: #339966;
  color: #003366;
  font-size: large;

}
#con1 {
  width: auto;
  height: auto;
  overflow: hidden;
}
#basic_col {
  background: #339966;
}
#basic_col_top {
  background: #339966;
}

div.container {
  height: 300em;
  width: auto;
}

video {
  max-width: 100%;
  height: auto;
  display: block;
}
body {
  background-color: #339966;
}
#logo {
  height: 100px;
  width: 400px;
}
#con2 {
  width: 15em;
}
