#col_mid {
  background: #87ED40;
  color: #003366;
  font-size: large;
}

#basic_col {
  background: #87ED40;
}

div.main {
  height: 300px;
}

video {
  width: auto    !important;
  height: auto   !important;
}
